# argocd-ingress-nginx-app.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd

spec:
  project: minemap-platform
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.13.2 # или последняя стабильная версия

    helm:
      values: |
        controller:
          replicaCount: 2
          ingressClass: nginx
          ingressClassByName: true
          service:
            type: LoadBalancer
            externalTrafficPolicy: Local
          # Явно создаем IngressClass
          ingressClassResource:
            name: nginx
            enabled: true
            default: true
            controllerValue: "k8s.io/ingress-nginx"
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true