# k8s-manifests/argocd-apps/loki-ingress-app.yaml

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki-ingress
  namespace: argocd
spec:
  # 游뚿 햊햐뤯햛행햒햇햎 뉋냻 먫뤯돯뛣 햍햃햑햓뤯먫럟
  project: minemap-monitoring 
  source:
    # 丘멆잺 햒햌햃했햊햑햇 뉋냻 먫돯뤯햊햑뤯먫떓
    repoURL: https://github.com/Loks228/argo-cd-k8s.git 
    targetRevision: HEAD 
    # 游뚿 햒햑햛 햌 햃햌햇, 햅햆햇 햍햇했햊햑 ingress.yaml
    path: k8s-manifests/ingress/loki/

  destination:
    server: https://kubernetes.default.svc
    # 游뚿 햆햇햍뤯 햑뤯햛햌  LOKI NAMESPACE
    namespace: loki 
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true