{{- if .Values.services }}
{{- range $name, $svc := .Values.services }}
---
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: {{ $svc.namespace | quote }}
type: Opaque
stringData:
  PGHOST: {{ $.Values.commonEnv.PGHOST | quote }}
  PGPORT: {{ $.Values.commonEnv.PGPORT | quote }}
  PGUSER: {{ $.Values.commonEnv.PGUSER | quote }}
  PGPASSWORD: {{ $.Values.commonEnv.PGPASSWORD | quote }}
  PGDATABASE: {{ $.Values.commonEnv.PGDATABASE | quote }}
  AZURE_STORAGE_ACCOUNT: {{ $.Values.commonEnv.AZURE_STORAGE_ACCOUNT | quote }}
  AZURE_STORAGE_KEY: {{ $.Values.commonEnv.AZURE_STORAGE_KEY | quote }}
  AzureContainer: {{ $.Values.commonEnv.AzureContainer | quote }}
  GOOGLE_CLIENT_ID: {{ $.Values.commonEnv.GOOGLE_CLIENT_ID | quote }}
  GOOGLE_CLIENT_SECRET: {{ $.Values.commonEnv.GOOGLE_CLIENT_SECRET | quote }}
  GITHUB_CLIENT_ID: {{ $.Values.commonEnv.GITHUB_CLIENT_ID | quote }}
  GITHUB_CLIENT_SECRET: {{ $.Values.commonEnv.GITHUB_CLIENT_SECRET | quote }}
  BASE_URL: {{ $.Values.commonEnv.BASE_URL | quote }}
{{- end }}
{{- end }}